[Unit]
Description="QuestionApi Service"
After=network.target

[Service]
Type=simple
WorkingDirectory=/var/www/QuestionApi/
ExecStart=/var/www/QuestionApi/QuestionApi --urls=https://localhost:7224
Restart=always
# Restart service after 10 seconds if the dotnet service crashes:
RestartSec=10
SyslogIdentifier=QuestionApi
KillSignal=SIGINT
User=root
Environment=ASPNETCORE_ENVIRONMENT=Production
Environment=DOTNET_PRINT_TELEMETRY_MESSAGE=false
Environment=DOTNET_ROOT=/root/.dotnet
Environment=PATH=$PATH:/root/.dotnet

[Install]
WantedBy=multi-user.target